*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  
/* Header */

header {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .nav-item{
    color: black;
  }
  #itemActivo{
    background-color: darkcyan;
  
  }
  
  .nav-link{
    color: darkcyan;
  }
  .tituloPage {
    color: darkcyan;
  }

/*Login page*/
.bodyLogin {
  background: rgb(246, 189, 56);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(246, 189, 56), #f6e5a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(246, 189, 56), #f6e5a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  height: 550px;
  width: 350px;
  background-color: white;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
form .grupo{
  position: relative;
  margin: 45px;
 
}
.registro {
  text-align: center;
  font-size: 700;
}
input{
  background: none;
  color: #c6c6c6;
  font-size: 12px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rosybrown;
}
input:focus{
  outline: none;
  color: rgb(34, 151, 155);
}
label{
  color: rosybrown;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label,
input:valid~label {
  top: -14px;
  font-size: 12px;
  color: rgb(239, 18, 206);
}
.barra{
  position: relative;
  display: block;
  width: 100%;
}

.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
  transition: 0.3 ease width;
  left: 0;
}
input:focus~.barra::before{
  width: 100%;
}

.warnings{
    width: 300px;
    text-align: center;
    margin: auto;
    color: rgb(239, 18, 206);
    padding-top: 20px;
}
button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-widht:500px){
    form{
        width: 80%;
    }
}
/*Footer*/
footer p{
  color: white;
}
.footer-copyright a{
    text-decoration: none;
    font-size: 1.2 rem;
    color: white;
    font-weight: 500;
  }